<footer>
    <div class="container">

        <style>
            #reg2Form label.error {
                color: yellow;
            }
        </style>
        @*<div class="quick-register-box row">
            <div class="col-md-4">
                <div class="title">快速注册</div>
                <div class="text">秒速注册，获取最新房产投资项目资讯</div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <form class="register-box" id="reg2Form" novalidate="novalidate">
                        <div class="col-sm-4">
                            <input type="text" id="txtEmail2" name="txtEmail2" reg2="true" placeholder="请输入您的邮箱地址">
                        </div>
                        <div class="col-sm-2">
                            <input type="password" id="txtPwd2" name="txtPwd2" reg2="true" placeholder="请输入密码" maxlength="16">
                        </div>



                        <div class="col-sm-2">
                            <input type="text" id="txtCode2" name="txtCode2" maxlength="4" placeholder="验证码">
                        </div>
                        <div class="col-sm-2">
                            <img id="ctl00_ctrlFooter_ctrlValidate" class="code" onclick="this.src = '/ac.ashx?code=' + Math.random()" src="ac.ashx.jpg" tppabs="http://www.yimihaodi.com/ac.ashx" style="border-width:0px;vertical-align:middle">
                        </div>
                        <div class="col-sm-2">

                            <input type="submit" class="btn btn-yellow btn-submit" value="确认提交">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
				$("#reg2Form").validate({
					onsubmit: true, onfocusout: false, onkeyup: false, focusCleanup: true, focusInvalid: false,
					rules: {
						txtEmail2: { required: true, email: true },
						txtPwd2: { required: true, minlength: 8, maxlength: 16, isStrongPwd: true },
						txtCode2: { required: true, minlength: 4 },
                        txtInviteCode:{required:true}
					},
					messages: {
						txtEmail2: { required: "请输入登录邮箱", email: "邮箱格式错误" },
						txtPwd2: { required: "请输入密码", minlength: "密码长度8-16", maxlength: "密码长度8-16", isStrongPwd: "密码必须包含数字和字母或特殊字符", },
						txtCode2: { required: "请输入验证码", minlength: "验证码错误" },
						txtInviteCode: { required: "请输入邀请码，beta阶段邀请码须通过特别邀请获得" }
					},
					//errorPlacement: function (error, element) {
					//	error.appendTo(element.parent().next());
					//},
					submitHandler: function (form) {
						ajaxRequest("/member/helper.ashx?type=23&code=" + $("#txtCode2").val(), null, function (data) {
							if (data.result == "0") {
								$("#txtCode2").focus();
								$("#ctl00_ctrlFooter_ctrlValidate").click();
								alert("验证码错误");
								//$("#tips").text("验证码错误");
							}
							else {
								var postData = getFormJsonData("reg2");
								var url = "member/helper.ashx-type=22"/*tpa=http://www.yimihaodi.com/member/helper.ashx?type=22*/;
								ajaxRequest(url, postData, function (data) {
									if (data.result == "0") {
										$("#ctl00_ctrlFooter_ctrlValidate").click();
										alert(data.msg);
										//$("#tips").text(data.msg);
									}
									else {
										window.location.href = "User/Login.htm"/*tpa=http://www.yimihaodi.com/member/*/;
									}
								});
							}
						});
					},
					invalidHandler: function (form, validator) {
						return false;
					}
				});
        </script>*@

        <div class="top">
            <div class="link-list-box">
                <ul class="link-list">
                    <li><a href="javascript:;" style="cursor: default">投资融资</a></li>
                    <li><a href="Project/ProjectList.htm" tppabs="http://www.yimihaodi.com/Project/ProjectList">众筹项目</a></li>
                    <li><a href="User/Login.htm" tppabs="http://www.yimihaodi.com/member">会员中心</a></li>

                    <li style="display: none"><a href="member/register.aspx-type=1.htm" tppabs="http://www.yimihaodi.com/member/register.aspx?type=1">融资注册</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="javascript:;" style="cursor: default">新手指南</a></li>
                    <li><a href="guide-3.aspx.htm" tppabs="http://www.yimihaodi.com/guide-3.aspx">快速入门</a></li>
                    <li><a href="faq.aspx.htm" tppabs="http://www.yimihaodi.com/faq.aspx">常见问题</a></li>
                    <li><a href="guide-9.aspx.htm" tppabs="http://www.yimihaodi.com/guide-9.aspx">风险安全</a></li>
                    <li><a href="guide-10.aspx.htm" tppabs="http://www.yimihaodi.com/guide-10.aspx">使用流程</a></li>

                </ul>
                <ul class="link-list">
                    <li><a href="javascript:;" style="cursor: default">关于我们</a></li>
                    <li><a href="about-2.aspx.htm" tppabs="http://www.yimihaodi.com/about-2.aspx">公司简介</a></li>
                    <li><a href="about-4.aspx.htm" tppabs="http://www.yimihaodi.com/about-4.aspx">我们的团队</a></li>
                    <li><a href="about-6.aspx.htm" tppabs="http://www.yimihaodi.com/about-6.aspx">招贤纳士</a></li>
                    <li><a href="about-7.aspx.htm" tppabs="http://www.yimihaodi.com/about-7.aspx">联系我们</a></li>

                </ul>
                <ul class="link-list">
                    <li><a href="javascript:;" style="cursor: default">资讯动态</a></li>
                    <li><a href="news/list-0.aspx.htm" tppabs="http://www.yimihaodi.com/news/list-0.aspx">公司动态</a></li>
                    <li><a href="news/list-1.aspx.htm" tppabs="http://www.yimihaodi.com/news/list-1.aspx">媒体聚焦</a></li>
                    <li><a href="news/list-2.aspx.htm" tppabs="http://www.yimihaodi.com/news/list-2.aspx">行业新闻</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="javascript:;" style="cursor: default">客服热线</a></li>
                    <li><b>澳洲：+61 1300 968 886</b></li>
                    <li><b>中国：+86 4009 679 879</b></li>
                    <li><b>服务时间：9:00-19:00(UTC+8)</b></li>
                </ul>
            </div>
            <div class="link-imgs">
                <img class="wx ewm" t="wx" src="content/images/img-wx.png" tppabs="http://www.yimihaodi.com/content/images/img-wx.png">
                <img class="wb ewm" t="wb" src="content/images/img-wb.png" tppabs="http://www.yimihaodi.com/content/images/img-wb.png">
                <img class="qr-code" id="ewm_wx" style="display: none;" src="content/images/qr-code-wx.png" tppabs="http://www.yimihaodi.com/content/images/qr-code-wx.png">
                <img class="qr-code" id="ewm_wb" style="margin: 15px 0px 0px 192px; display: none;" src="content/images/qr-code-wb.png" tppabs="http://www.yimihaodi.com/content/images/qr-code-wb.png">
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <img class="f-logo" src="content/images/logo-small.png" tppabs="http://www.yimihaodi.com/content/images/logo-small.png">
            2014-2015 ©一米好地 ALL RIGHTS RESERVED  沪ICP证080047号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="clause-11.aspx.htm" tppabs="http://www.yimihaodi.com/clause-11.aspx">服务协议</a>
        </div>
    </div>
    
</footer>