.banner {
	height: 370px;
	background-image: url("../images/banner-investment-list-1.png"/*tpa=http://www.yimihaodi.com/content/images/banner-investment-list.png*/);
}
.banner .title {
	margin-top: 75px;
}
.banner .title-sub {
	font-size: 36px;
	font-family: microsoft yahei;
	letter-spacing: 1px;
	line-height: 1.1em;
	margin-top: 10px;
	color: #fff;
	text-align: center;
}

.investment-content .p-title {
	font-size: 32px;
	font-weight: bold;
	color: #565656;
	line-height: 1.1em;
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 25px;
}
.investment-content .p-title:after {
	content: '';
	position: absolute;
	width: 1em;
	height: 3px;
	left: 0;
	bottom: 0;
	background-color: #ffd200;
}

ul.condition-list {
	margin: 50px auto 30px;
}
ul.condition-list:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
ul.condition-list > li {
	float: left;
	margin-bottom: 20px;
}
ul.condition-list > li:nth-child(1) {
	width: 25%;
	margin-right: 3.5%;
}
ul.condition-list > li:nth-child(2) {
	width: 34%;
	margin-right: 3.5%;
}
ul.condition-list > li:nth-child(3) {
	width: 34%;
}
ul.condition-list > li .row {
	margin-left: -5px;
	margin-right: -5px;
}
ul.condition-list > li .row > * {
	padding-left: 5px;
	padding-right: 5px;
}
ul.condition-list > li > .title {
	width: 50%;
	color: #59564f;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	padding-bottom: 12px;
	border-bottom: 1px solid #d3d3d3;
	position: relative;
	margin-bottom: 20px;
}
ul.condition-list > li > .title:after {
	content: '';
	position: absolute;
	width: 2em;
	height: 3px;
	left: 0;
	bottom: -2px;
	background-color: #ffd200;
}

ul.condition-list > li .condition {
	padding: 0;
	font-size: 14px;
	height: 36px;
	line-height: 34px;
	border: 1px solid #d3d3d3;
	display: block;
	width: 100%;
	text-align: center;
	color: #59564f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
}
ul.condition-list > li .condition.active {
	color: #fff;
	cursor: default;
	background-color: #ffd200;
	border: 1px solid #ffd200;
}


ul.project-list {
	margin-bottom: 80px;
}
ul.project-list > li {
	margin-bottom: 35px;
}
ul.project-list > li .project-1 {
	height: 300px;
	border: 1px solid #c4c4c4;
	margin-bottom: 12px;
	overflow: hidden;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
ul.project-list > li .project-1:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
ul.project-list > li .project-1 .img-box {
	float: left;
	width: 37%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
ul.project-list > li .project-1 .content-box {
	float: left;
	padding: 20px 25px;
	width: 37%;
	height: 100%;
}
ul.project-list > li .project-1 .content-box .title {
	font-size: 30px;
	color: #565656;
	line-height: 1.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 5px;
	margin-bottom: 10px;
}
ul.project-list > li .project-1 .content-box .place {
	font-size: 13px;
	color: #565656;
	opacity: .6;
	margin-bottom: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ul.project-list > li .project-1 .content-box .text {
	font-size: 14px;
	color: #565656;
	opacity: .6;
	overflow: hidden;
	margin-bottom: 15px;
	line-height: 1.8em;
	max-height: 125px;
}
ul.project-list > li .project-1 .content-box .company {
	font-size: 18px;
	color: #565656;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ul.project-list > li .project-1 .num-box {
	float: left;
	width: 26%;
	padding: 20px 35px;
	height: 100%;
}
ul.project-list > li .project-1 .num-box .n-title {
	font-size: 16px;
	line-height: 1.1em;
	color: #565656;
	opacity: .6;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 3px;
}
ul.project-list > li .project-1 .num-box .n-text {
	font-size: 16px;
	color: #565656;
	line-height: 1.1em;
	margin-bottom: 28px;
	padding-left: 3px;
}
ul.project-list > li .project-1 .num-box .btn {
	line-height: 42px;
	height: 44px;
	padding: 0;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

ul.project-list > li .progress-box {
	height: 20px;
	line-height: 20px;
	padding: 0 30px;
}
ul.project-list > li .progress-box img {
	float: left;
	margin-right: 10px;
}
ul.project-list > li .progress-box .text {
	float: left;
	margin-right: 15px;
	color: #353c44;
	font-size: 18px;
	font-weight: bold;
}
ul.project-list > li .progress-box .progress {
	overflow: hidden;
	height: 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	top: 3px;
	background-color: #353c44;
}
ul.project-list > li .progress-box .progress .progress-bar {
	background-color: #ffd200;
}

ul.project-list > li:hover .project-1 {
	background-color: #353c44;
}
ul.project-list > li:hover .project-1 .content-box .title, ul.project-list > li:hover .project-1 .content-box .place, ul.project-list > li:hover .project-1 .content-box .text, ul.project-list > li:hover .project-1 .content-box .company, ul.project-list > li:hover .project-1 .num-box .n-title, ul.project-list > li:hover .project-1 .num-box .n-text,ul.project-list > li:hover .project-1 .text p{
	color: #fff;
}


ul.house-list {
	margin: 40px;
}
ul.house-list > li ul > li {
	padding: 1px;
}
ul.house-list > li .house-box {
	width: 100%;
	height: 440px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

ul.house-list > li .house-box .cover-box {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 100%;
	text-align: center;
	background-color: rgba(32,40,48,.9);
	padding: 10px 15px;
	-webkit-transition: all .5s .15s;
	-moz-transition: all .5s .15s;
	-ms-transition: all .5s .15s;
	transition: all .5s .15s;
}
ul.house-list > li .house-box.complete .cover-box {
	background-color: rgba(255,210,0,.94) !important;
}
 ul.house-list > li .house-box.complete .cover-box .progress-top > * {
 	background-color: rgba(255,210,0,.7) !important;
 }
ul.house-list > li .house-box.complete .cover-box .name, ul.house-list > li .house-box.complete .cover-box .text, ul.house-list > li .house-box.complete .cover-box .progress-top > *, ul.house-list > li .house-box.complete .cover-box .cover-info-list .left, ul.house-list > li .house-box.complete .cover-box .cover-info-list .right {
	color: #1f252e !important;
} 
ul.house-list > li .house-box.complete .progress .progress-bar {
	background-color: #1f252e !important;
}

ul.house-list > li .house-box:hover .cover-box {
	top: 0;
}
ul.house-list > li .house-box .cover-box .name {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.house-list > li .house-box .cover-box .text {
	font-size: 14px;
	color: #fff;
	text-align: left;
	margin-bottom: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.house-list > li .house-box .cover-box .progress {
	margin-bottom: 20px;
}
ul.house-list > li .house-box .cover-box .progress-top {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	position: relative;
}
ul.house-list > li .house-box .cover-box .progress-top:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	top: 12px;
	z-index: 0;
	border-bottom: 1px dashed #fff;
}
ul.house-list > li .house-box .cover-box .progress-top > * {
	display: inline-block;
	color: #fff;
	position: relative;
	z-index: 1;
	background-color: rgba(32,40,48,.7);
	font-size: 14px;
	padding: 0 3px;
}
ul.house-list > li .house-box .cover-box .cover-info-list {
	font-size: 14px;		
	margin-bottom: 20px;
}
ul.house-list > li .house-box .cover-box .cover-info-list:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
}
ul.house-list > li .house-box .cover-box .cover-info-list .left {
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 5px;
	margin-bottom: 5px;
	color: #fff;
}
ul.house-list > li .house-box .cover-box .cover-info-list .right {
	float: left;
	width: 40%;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}
ul.house-list > li .house-box .cover-box .btn-detail {
	width: 190px;
	height: 46px;
	line-height: 44px;
	font-size: 20px;
	padding: 0 5px;
	font-weight: bold;
}
ul.house-list > li .house-box .bottom-info {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 110px;
	left: 0;
	bottom: 0;
	background-color: rgba(32,40,48,.8);
	padding: 20px 15px;
	text-align: center;
	-webkit-transition: all .3s .2s;
	-moz-transition: all .3s .2s;
	-ms-transition: all .3s .2s;
	transition: all .3s .2s;
}
ul.house-list > li .house-box:hover .bottom-info {
	opacity: 0;
}
ul.house-list > li .house-box .bottom-info .name {
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.house-list > li .house-box .bottom-info .text {
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.house-list > li .house-box .progress {
	margin-bottom: 5px;
	height: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

ul.house-list > li .house-box .progress .progress-bar {
	background-color: #ffd200;
}


.investment-content .btn-more-house {
	width: 180px;
	margin: 0 auto 80px;
	text-align: center;
	font-size: 16px;
	color: #565656;
	line-height: 1.1em;
	padding-top: 15px;
	border-top: 1px solid #b4b4b4;
	cursor: pointer;
	opacity: .7;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.investment-content .btn-more-house:hover {
	opacity: 1;
}
.investment-content .btn-more-house .top {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #565656;
	line-height: 1.1em;
}
.investment-content .btn-more-house .icon {
	margin-top: 20px;
	font-size: 72px;
	font-family: '宋体';
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}


@media (max-width: 1200px) {
	ul.project-list > li .project-1 {
		height: 290px;
	}
	ul.project-list > li .project-1 .content-box .title {
		font-size: 26px;
	}
	ul.project-list > li .project-1 .content-box {
		padding: 20px;
		width: 39%;
	}
	ul.project-list > li .project-1 .num-box {
		width: 24%;
		padding: 20px;
	}
	ul.project-list > li .project-1 .num-box .n-title {
		font-size: 15px;
	}
	ul.project-list > li .project-1 .num-box .n-text {
		font-size: 26px;
		margin-bottom: 35px;
	}
	ul.project-list > li .project-1 .content-box .place {
		margin-bottom: 10px;
	}
}
@media (max-width: 991px) {
	ul.condition-list {
		margin: 40px auto 20px;
	}
	ul.condition-list > li .condition {
		font-size: 12px;
	}

	ul.project-list > li .project-1 {
		height: 240px;
	}
	ul.project-list > li .project-1 .content-box .title {
		font-size: 20px;
		margin-top: 0;
	}
	ul.project-list > li .project-1 .content-box .text {
		max-height: 100px;
	}
	ul.project-list > li .project-1 .content-box .company {
		font-size: 15px;
	}
	ul.project-list > li .project-1 .content-box {
		padding: 15px;
		width: 39%;
	}
	ul.project-list > li .project-1 .num-box {
		width: 24%;
		padding: 15px;
	}
	ul.project-list > li .project-1 .num-box .row {
		margin-left: -5px;
		margin-right: -5px;
	}
	ul.project-list > li .project-1 .num-box .row > * {
		padding-left: 5px;
		padding-right: 5px;
	}
	ul.project-list > li .project-1 .num-box .n-title {
		font-size: 14px;
		margin-top: 5px;
	}
	ul.project-list > li .project-1 .num-box .n-text {
		font-size: 20px;
		margin-bottom: 30px;
	}
	ul.project-list > li .project-1 .num-box .btn {
		font-size: 16px;
		height: 38px;
		line-height: 36px;
	}
	ul.project-list > li .project-1 .content-box .place {
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	ul.project-list {
		margin-bottom: 30px;
	}
	ul.house-list {
		margin-bottom: 20px;
	}
	.investment-content .btn-more-house {
		margin: 20px auto 30px;
	}
	.investment-content .btn-more-house {
		font-size: 14px;
		width: 150px;
		padding-top: 10px;
	}
	.investment-content .btn-more-house .top {
		font-size: 24px;
		margin-bottom: 5px;
	}
	.investment-content .btn-more-house .icon {
		margin-top: 15px;
		font-size: 50px;
	}

	.banner {
		height: 280px;
	}
	.banner .title {
		margin-top: 60px;
		font-size: 20px;
		line-height: 1.1em;
	}
	.banner .title-sub {
		margin-top: 10px;
		font-size: 18px;
	}
	.investment-content .p-title {
		font-size: 20px;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	ul.project-list > li {
		margin-bottom: 20px;
	}
	
	ul.project-list > li .progress-box {
		padding: 0 5px;
		height: 16px;
		line-height: 16px;
	}
	ul.project-list > li .progress-box .progress {
		top: 2px;
		height: 12px;
	}
	ul.project-list > li .progress-box img {
		margin-right: 3px;
		height: 16px;
	}
	ul.project-list > li .progress-box .text {
		font-size: 14px;
		margin-right: 5px;
	}
	ul.project-list > li .project-1 {
		height: auto;
		margin-bottom: 5px;
	}
	ul.project-list > li .project-1 .img-box, ul.project-list > li .project-1 .content-box, ul.project-list > li .project-1 .num-box {
		width: 100%;
	}
	ul.project-list > li .project-1 .content-box {
		padding: 15px 15px 10px;
	}
	ul.project-list > li .project-1 .content-box .text {
		margin-bottom: 10px;
		line-height: 1.5em;
		max-height: 105px;
	}
	ul.project-list > li .project-1 .content-box .place {
		margin-bottom: 10px;
		white-space: normal;
		overflow: visible;
		line-height: 1.2em;
	}
	ul.project-list > li .project-1 .content-box .place {
		line-height: 1.3em;
	}
	ul.project-list > li .project-1 .img-box {
		height: 150px;
	}
	ul.project-list > li .project-1 .num-box {
		padding-top: 0;
	}
	ul.project-list > li .project-1 .num-box .n-title {
		margin-bottom: 5px;
	}
	ul.project-list > li .project-1 .num-box .n-text {
		margin-bottom: 10px;
	}
	ul.project-list > li .project-1 .num-box .btn {
		margin-top: 10px;
	}

	ul.condition-list {
		margin: 20px auto;
	}
	ul.condition-list > li {
		float: none;
	}
	ul.condition-list > li:nth-child(1) {
		width: 75%;
		max-width: 300px;
	}
	ul.condition-list > li:nth-child(2) {
		width: 100%;
		max-width: 400px;
	}
	ul.condition-list > li:nth-child(3) {
		width: 100%;
		max-width: 400px;
	}
	ul.condition-list > li > .title {
		font-size: 15px;
		padding-bottom: 8px;
		margin-bottom: 12px;
	}
	ul.condition-list > li .condition {
		height: 32px;
		line-height: 30px;
	}
}











