@{
    ViewBag.Title = "Index";
}

@section css{

    @Styles.Render("~/home/css")
    <style>
        .swiper-container {
            width: 100%;
            height: 50%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .project-title {
            height: 54px;
        }
    </style>
}


<div id="sec_big">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=13"><img class="img-responsive" src="UpFiles/Slide/201508031049080421.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201508031049080421.jpg" /></a></div><div class="swiper-slide"><a href="Project/ProjectList.htm" tppabs="http://www.yimihaodi.com/Project/ProjectList"><img class="img-responsive" src="UpFiles/Slide/201506161607250450.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201506161607250450.jpg" /></a></div><div class="swiper-slide"><a href="guide-3.aspx.htm" tppabs="http://www.yimihaodi.com/guide-3.aspx"><img class="img-responsive" src="UpFiles/Slide/201506161607011885.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201506161607011885.jpg" /></a></div><div class="swiper-slide"><a href="member/register.aspx.htm" tppabs="http://www.yimihaodi.com/member/register.aspx"><img class="img-responsive" src="UpFiles/Slide/201506161606470536.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201506161606470536.jpg" /></a></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<div id="sec_small">
    <div class="owl-carousel owl-theme full-slider">
        <div class="item">
            <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=13"><img class="img-responsive" src="content/images/banner/6.JPG" tppabs="http://www.yimihaodi.com/content/images/banner/6.JPG" /></a>
        </div>



        <div class="item">
            <a href="Project/ProjectList.htm" tppabs="http://www.yimihaodi.com/Project/ProjectList"><img class="img-responsive" src="content/images/banner/1.JPG" tppabs="http://www.yimihaodi.com/content/images/banner/1.JPG" /></a>
        </div>
        <div class="item">
            <a href="guide-3.aspx.htm" tppabs="http://www.yimihaodi.com/guide-3.aspx"><img class="img-responsive" src="content/images/banner/2.JPG" tppabs="http://www.yimihaodi.com/content/images/banner/2.JPG" /></a>
        </div>
        <div class="item" style="background-image: url(content/images/banner/3.JPG)">
            <a href="member/register.aspx.htm" tppabs="http://www.yimihaodi.com/member/register.aspx"><img class="img-responsive" src="content/images/banner/3.JPG" tppabs="http://www.yimihaodi.com/content/images/banner/3.JPG" /></a>
        </div>
    </div>
</div>
<div class="index-content">
    <div class="p-0">
        <div class="row">
            <div class="col-sm-6 left-num">
                在线项目总金额：￥<b>
                    4,599,500
                </b>
            </div>
            <div class="col-sm-6 right-num">
                成功项目总金额：￥<b>
                    2,975,856
                </b>
            </div>
        </div>
    </div>

    <div class="p-3">
        <div class="p-title">
            <b>热点项目</b>
        </div>
        <div class="container content-xs">
            <ul class="row block-grid-v2"></ul>
        </div>
        <div class="container content-xs">
            <ul class="row block-grid-v2">
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=14">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201508131619495381.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201508131619495381.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">【秀场】云·SPACE - 打造魔都最炫的创意秀场 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">0.00元/68.00万元 <span class="pull-right">即将开始</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 0.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=13">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201507312022278715.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201507312022278715.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">【咖啡·移动办公】WORKCAFE - 办公室和家之间的都市会客厅 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">0.00元/100.00万元 <span class="pull-right">即将开始</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 0.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=12">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201508061121043759.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201508061121043759.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">【公寓】小马公寓 | 徐家汇金轩公寓改造 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">7.00万元/7.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=10">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201506251704072922.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201506251704072922.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">张江创业者，最好的联合办公来了 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">1.10万元/1.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 110.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="110.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=9">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201506161721095702.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201506161721095702.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">YOU+青年创业社区魔都首秀，等你来造 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">35.54万元/30.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 118.45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="118.45" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=8">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201506181626190089.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201506181626190089.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">愚园路亭子间改造众筹 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">2.00万元/2.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=7">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201505261556411171.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201505261556411171.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">French 100旧房改造众筹 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">4.00万元/4.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=6">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201505071845096935.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201505071845096935.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">静居-赵家桥公寓改造众筹 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">5.00万元/5.00万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=5">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201505071835354909.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201505071835354909.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">浦江颐城晶寓毛坯房改造 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">5.45万元/5.45万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                    <a href="User/Login.htm" tppabs="http://www.yimihaodi.com/Project/Crowdfunding.aspx?ProjectId=1">
                        <div class="easy-block-v1">
                            <em class="overflow-hidden"><img class="img-responsive" src=" upFiles/images/201505071747324071.jpg" tppabs="http://www.yimihaodi.com/upFiles/images/201505071747324071.jpg" style="height: 240px" /></em>
                        </div><div class="block-grid-v2-info rounded-bottom" style="margin-bottom:30px;  height: 152px;">
                            <h3 class="project-title">澳大利亚 108 南半球最高楼 </h3>
                            <h3 class="heading-xs no-top-space" style="text-align: left!important">237.50万元/237.50万元 <span class="pull-right">已结束</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div style="width: 100.00%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100.00" role="progressbar" class="progress-bar progress-bar-mi"></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="p-2">
        <div class="container">
            <div class="p-title">
                <b>简单5步开始</b>房地产众筹投资！
            </div>
            <div id="lb-step" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#lb-step" data-slide-to="0" class="active"></li>
                    <li data-target="#lb-step" data-slide-to="1" class=""></li>
                    <li data-target="#lb-step" data-slide-to="2" class=""></li>
                    <li data-target="#lb-step" data-slide-to="3" class=""></li>
                    <li data-target="#lb-step" data-slide-to="4" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text1">01</div>
                                <div class="text2">快速在线注册</div>
                                <div class="text3">一分钟快速在线提交个人信息，完成注册, 成为米Fan</div>
                            </div>
                            <div class="col-xs-6"><img src="UpFiles/Slide/201502261712522322.png" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201502261712522322.png" /></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text1">02</div>
                                <div class="text2">随时浏览项目</div>
                                <div class="text3">来自全球的优质房地产尽在指尖，随时随地了解项目详情，找到适合您的那一款</div>
                            </div>
                            <div class="col-xs-6"><img src="UpFiles/Slide/201502261715211163.png" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201502261715211163.png" /></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text1">03</div>
                                <div class="text2">轻松参与众筹</div>
                                <div class="text3">在线认投项目，通过实名认证，资金进入托管账户，完成认投。若众筹期限内，投资金额达到预设目标，则众筹成功；若未达标，退还资金</div>
                            </div>
                            <div class="col-xs-6"><img src="UpFiles/Slide/201502261716467118.png" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201502261716467118.png" /></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text1">04</div>
                                <div class="text2">便捷日常管理</div>
                                <div class="text3">登录账户，查看已投项目运营信息，各类报表，投资详情尽在掌握</div>
                            </div>
                            <div class="col-xs-6"><img src="UpFiles/Slide/201502261717151924.png" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201502261717151924.png" /></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text1">05</div>
                                <div class="text2">开心获取收益</div>
                                <div class="text3">收取租赁类项目租金收益，也可转让份额或投资期满后出售房产获取收益，生米煮成熟Fan</div>
                            </div>
                            <div class="col-xs-6"><img src="UpFiles/Slide/201502261717404346.png" tppabs="http://www.yimihaodi.com/UpFiles/Slide/201502261717404346.png" /></div>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#lb-step" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#lb-step" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="p-1">
        <div class="container">
            <div class="p-title">
                一米好地的<b>独特优势</b>
            </div>
            <div class="p-text">
                专注众筹创造未来青年生活空间<br />
                一米好地房产众筹投资平台专注以互联网众筹方式，更快速、便捷、安全的投资创造适宜未来青年生活方式的空间。
            </div>
            <ul class="advantage-list row">
                <li class="col-sm-3">
                    <div class="advantage-box">
                        <div class="img-box"></div>
                        <div class="title">
                            <b>协力老房改造</b>
                        </div>
                        <div class="title-sub">旧貌新颜，新式生活</div>
                        <div class="text">爱老房子的历史沉淀，又无法割舍现代生活的便利？众筹协力老房改造，难以抉择就干脆通通实现</div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="advantage-box">
                        <div class="img-box"></div>
                        <div class="title">
                            <b>众筹未来空间</b>
                        </div>
                        <div class="title-sub">我的生活空间由我创造</div>
                        <div class="text">青年公寓、众创空间、艺术咖啡馆...... 在一米好地，用众筹选择和创造自己的生活空间</div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="advantage-box">
                        <div class="img-box"></div>
                        <div class="title">
                            <b>百元投资世界</b>
                        </div>
                        <div class="title-sub">距离不是问题！</div>
                        <div class="text">一米好地为您汇集海内外不同类型优质地产项目，让海外房产不再是富豪的游戏</div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="advantage-box">
                        <div class="img-box"></div>
                        <div class="title">
                            <b>畅享快捷安全</b>
                        </div>
                        <div class="title-sub">为投资扫清切障碍</div>
                        <div class="text">一米好地审核、发布各类新型房产项目，简化流程，让您足不出户，方便快捷完成投资</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-4">
        <div class="container">
            <div class="p-title">
                媒体<b>报道</b>
            </div>
            <ul class="media-list row">
                <li class="col-md-4">
                    <div class="media-box">
                        <div class="img-box" style="background-image: url(/UpFiles/news/201507151744327172.jpg);">
                        </div>
                        <div class="content">
                            <div class="title">【《东方财经》杂志】一米好地：…</div>
                            <div class="time">日期:2015.07.15</div>
                            <div class="text">一米好地瞄准了在偌大的房产众筹市场中的一…</div>
                            <a class="btn-detail" href="news/detail-35.aspx.htm" tppabs="http://www.yimihaodi.com/news/detail-35.aspx">查看详情 ></a>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="media-box">
                        <div class="img-box" style="background-image: url(/UpFiles/news/201504181912073935.PNG);">
                        </div>
                        <div class="content">
                            <div class="title">[现代快报]完成澳洲首单房产众筹…</div>
                            <div class="time">日期:2015.03.19</div>
                            <div class="text">摘要：由一米好地发起的澳洲首单房产众筹实…</div>
                            <a class="btn-detail" href="news/detail-22.aspx.htm" tppabs="http://www.yimihaodi.com/news/detail-22.aspx">查看详情 ></a>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="media-box">
                        <div class="img-box" style="background-image: url(/UpFiles/news/201504182018492488.png);">
                        </div>
                        <div class="content">
                            <div class="title">[新浪网]房产众筹项目完成</div>
                            <div class="time">日期:2015.03.19</div>
                            <div class="text">新浪原文链接：http://finance.sina.com.cn…</div>
                            <a class="btn-detail" href="news/detail-19.aspx.htm" tppabs="http://www.yimihaodi.com/news/detail-19.aspx">查看详情 ></a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="p-5">
        <div class="container">
            <div class="p-title">
                合作<b>伙伴</b>
            </div>
            <ul class="brand-list">
                <li>
                    <a href="javascript:show(11);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021725012723.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021725012723.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(14);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021727076905.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021727076905.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(15);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021727208620.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021727208620.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(16);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021727320108.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021727320108.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(19);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021727450431.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021727450431.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(20);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021727563369.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021727563369.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(21);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507042340045964.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507042340045964.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(22);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021729561601.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021729561601.jpg" />
                    </a>
                </li>
                <li>
                    <a href="javascript:show(23);" class="brand-box">
                        <div class="img-box" style="background-image: url();"></div>
                        <img src="UpFiles/Brand/201507021731132981.jpg" tppabs="http://www.yimihaodi.com/UpFiles/Brand/201507021731132981.jpg" />
                    </a>
                </li>

            </ul>
            <div class="cover"></div>
            <div class="p-dialog">
                <b class="p-close">&times;</b>
                <div class="p-d-body">
                    <img class="img-logo" id="img_logo" src="">
                    <div class="content">
                        <div class="title" id="div_title"></div>
                        <div class="text" id="div_desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section script{
    @Scripts.Render("~/home/scripts")

    <script type="text/javascript">
        $(".ewm").hover(function () { $("#ewm_" + $(this).attr("t")).show(); }, function () { $("#ewm_" + $(this).attr("t")).hide(); });

        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            autoplay: 5000,
            speed: 1000,
            loop: true
        });

        var hConfig = { mLenght: 1, mPage: 1, cPage: 1, offset: 0 };
        $(function () {
            $("#liHome").addClass("active");
            $('.house-list-box .btn-next').click(function () {
                if (hConfig.cPage + 1 === hConfig.mPage) {
                    hConfig.offset = $('ul.house-list').outerWidth() - $(window).width();
                    hConfig.cPage++;
                } else if (hConfig.cPage < hConfig.mPage) {
                    hConfig.offset += $('ul.house-list > li').outerWidth() * hConfig.mLenght;
                    hConfig.cPage++;
                }
                $('ul.house-list').animate({ 'right': hConfig.offset }, 300);
            });
            $('.house-list-box .btn-prev').click(function () {
                if (hConfig.cPage - 1 === 1) {
                    hConfig.offset = 0;
                    hConfig.cPage--;
                } else if (hConfig.cPage > 1) {
                    hConfig.offset -= $('ul.house-list > li').outerWidth() * hConfig.mLenght;
                    hConfig.cPage--;
                }
                $('ul.house-list').animate({ 'right': hConfig.offset }, 300);
            });

            initView();
            $(window).resize(function () {
                initView();
            });
        });

        function initView() {
            $('ul.house-list').css('width', $('ul.house-list > li').length * $('ul.house-list > li').outerWidth());
            hConfig.mLenght = Math.floor($('.house-list-box').outerWidth() / $('ul.house-list > li').outerWidth());
            hConfig.mPage = Math.ceil($('ul.house-list > li').length / hConfig.mLenght);
            hConfig.cPage = 1;
            hConfig.offset = 0;
            $('ul.house-list').animate({ 'right': hConfig.offset }, 300);
            $('ul.brand-list > li .brand-box').css('height', $('ul.brand-list > li .brand-box').width());
        }

        $('.p-dialog .p-close').click(function () {
            $('.cover, .p-dialog').fadeOut(150);
        });

        function show(id) {
            $.ajax({
                type: "POST",
                url: "/member/helper.ashx?type=98&id=" + id,
                data: null,
                dataType: 'json',
                success: function (res) {
                    $("#img_logo").attr("src", res.LogoUrl);
                    $("#div_title").html(res.Title);
                    $("#div_desc").html(res.Memo);

                    $('.p-dialog').css('transform', 'translateY(' + $(window).scrollTop() + 'px)');
                    $('.cover, .p-dialog').fadeIn(150);
                }
            });
        }
    </script>
}